* {
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    background: hsl(0, 0%, 98%);
	font-size: 15px;
/* 	box-sizing: border-box; */
}

html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	overflow: hidden;
}

.page-body {
    display: flex;
    flex-direction: column;
	height: 100%;
}

.navbar {
    display: flex;
    padding: 1rem;
    height: 30px;
}

.navbar-toggle {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	display: none;
=======
    display: none;
>>>>>>> origin/master
=======
    display: none;
>>>>>>> 5d69062c1efe17a417b8a0fe89b1af640cdf531b
=======
    display: none;
>>>>>>> 5d69062c1efe17a417b8a0fe89b1af640cdf531b
    position: relative;
    z-index: 10000;
    background: hsl(0, 0%, 98%);
}

.navbar-toggle .bar {
    width: 25px;
    height: 2px;
    margin: 4.5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #000;
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(6.5px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-6.5px) rotate(-45deg);
}

/* #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
} */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.6rem;
    /* z-index: 1; */
}

.menu {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 3; */
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: auto;
    z-index: 3;
    width: fit-content;
}


.nav-menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 3; */
}

.nav-menu {
    padding: 0 30px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    /* z-index: 3; */
}

.dropdown {
    position: relative;
    /* height: 100%; */
    width: fit-content;
    top: -130px;
    transition: top 0.2s;
    z-index: -99;
    overflow: hidden;
    /* height: 100px; */
}

.dropdown.active {
    width: fit-content;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    z-index: 4;
    border: none;
    border-radius: 10px;
    /* overflow: hidden; */
    padding: 10px 12px;
    background: #fff;
    transition: all 0.2s;
    box-shadow: 0px 0px 30px 0.3px hsl(0, 6%, 83%);
}

.nav-link span img.is-active {
    transition: all 0.3s ease-in-out;
    transform: rotate(-180deg);
}

span, img {
    background: transparent;
}

.nav-link span img {
    margin-left: 8px;

}

span img {
    width: 10px;
    margin-right: 12px;
    transition: all 0.3s;
}

.dropdown-menu {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.dropdown-menu li {
    padding: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background: #fff;
}

.dropdown-item {
    display: block;
    width: 100%;
    background: #fff;
    overflow: auto;
    margin: 2px 0;
    padding: 4px 0;
    font-size: small;
    color: hsl(0, 0%, 41%);
    font-weight: 400;
}

.features-menu-wrap {
    /* height: 100%; */
    right: 35px;
}

.company-menu-wrap {
    left: 20px;
}

.dropdown-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.authentication-wrap {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authentication {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-item {
    padding: 0.3rem 0;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.nav-link {
    color: hsl(0, 0%, 41%);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    height: 100%;
    padding: 0 1.2rem;
    cursor: pointer;
    /* z-index: 5; */
}

.nav-btn {
    border: 1.3px solid hsl(0, 0%, 41%);
    border-radius: 10px;
/*     margin-left: 0.5rem; */
    cursor: pointer;
    margin-left: 15px;
    padding: 10px 10px;
}

/* .nav-btn a {
    padding: 3px 12px;
} */

.main {
    /* height: 510px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-self: baseline;
    padding: 2rem 7rem;
}

.main-container {
    padding-right: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container-header {
    padding-top: 3.2rem;
    margin: 20px 0 10px;
    height: auto;
}

h1 {
    font-size: 4.2rem;
}

.main-text {
    color: hsl(0, 0%, 41%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 7rem;
    margin: 20px 0;
}

.content {
    font-size: 0.8rem;
    font-weight: 520;
    letter-spacing: 0.8px;
    line-height: 1.6;
}

.hero {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.hero img {
    width: 380px;
    /* height: 60%; */
}

.main-container-button {
    font-size: small;
    font-weight: 600;
    margin: 20px 0;
}

.btn {
    color: #000;
    height: 100%;
    border: 1px solid hsl(0, 0%, 41%);
    padding: 10px 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: background 0.4s, color 0.4s;
}

.btn:hover {
    background: #000;
    color: #fff;
}


.footer-wrap {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-bottom: 30px; */
}

.main-footer {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img{
    width: 4rem;
}


@media screen and (max-width: 1015.7px) and (min-width:945px) {
    .main-container-header h1 {
        font-size: 4rem;
    }

    .content {
        font-size: 0.6;
    }

    .footer-logo img {
        width: 3rem;
        padding-bottom: 1rem;
    }
    
    .main-text {
        padding-right: 3rem;
    }

    
}

@media screen and (max-width: 945px) and (min-width: 750px){
    h1 {
        font-size: 3.2rem;
    }

    .content {
        font-size: 0.6;
    }

    .hero img {
        width: 340px;
    }

    .main {
        padding: 0.4rem 5rem;
    }

    .main-text {
        padding-right: 2rem;
    }

    .footer-logo img {
        width: 2.5rem;
    }
}

@media screen and (max-width: 889px) and (min-width:750px) {
    .hero img {
        width: 290px;
    }
    
    .main {
        padding: 0.4rem 4.5rem;
    }

    .main-text {
        padding-right: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    .main-container {
        padding-right: 1rem;
    }

    .footer-logo img {
        width: 2.5rem;
    }

    .content {
        font-size: 0.6rem;
    }

    .main-container-button {
        font-size: 0.6rem;
    }
    
}

@media screen and (max-width: 750px) {
    body {
        overflow: hidden;
    }

	.page-body {
		width: 100%;
		height: 100%;
		position: relative;
/* 		overflow: hidden; */
	}

    .navbar-toggle {
        background: hsl(0, 0%, 98%);
    }
    .side-nav {
        position: absolute;
/*         z-index: -9999; */
        width: fit-content;
        display: block;
        height: 100%;
        right: -500px;
        top: 0px;
        padding: 60px 20px 0;
        padding-left: 0;
        background: #fff;
        transition: right 0.4s ease-in-out;
        overflow-x: hidden;
			overflow: hidden;
    }

    .side-nav.pop-up {
        position: absolute;
        z-index: 1000;
        display: block;
        height: 100%;
        width: fit-content;
        right: 0;
        top: 0px;
        padding: 60px 20px 0;
        padding-left: 0;
        background: #fff;
        overflow: hidden;
        transition: right 0.4s ease-in-out;
    }

    .navbar-toggle {
        display: block;
        background: #fff;
    }

    .main-container {
        padding-right: 0;
			display: flex;
/* 			align-items: center; */
			justify-content: center;
			width: 100%;
			
    }

    .main {
        display: block;
    }

    .hero img {
        content: url("images/image-hero-mobile.png");
        width: 330px;
        /* width: 100%; */
    }

    .dropdown {
        height: 0;
        overflow: hidden;
        z-index: -77;
        position: fixed;
        top: -60px;
    }

    .dropdown.active {
        top: 0px;
        right: 0;
        left: 30px;
        box-shadow: none;
    }

    .nav-menu-wrap {
        background: #fff;
        display: block;
        height: fit-content;
    }

    .nav-menu {
        background: #fff;
        padding: 0;
        display: block;
        /* align-items: center; */
        /* width: 300px; */
        height: fit-content;

    }

    .nav-item{
        position: relative;
        background: #fff;
        width: fit-content;
        max-width: none;
        margin: 5px;
        display: block;
    }

    .nav-link {
        position: relative;
        /* z-index: 6; */
        background: #fff;
        width: fit-content;
        display: block;
        font-weight: 400;
    }

    .nav-link span img{
        background: #fff;
        display: inline;
    }

    .authentication-wrap {
        background: #fff;
        display: block;
        padding: 20px 10px;
        height: fit-content;
        width: 100%;
    }

    .authentication {
        background: #fff;
        width: 100%;
        display: block;
        text-align: center;
    }

    .authentication .nav-item {
        margin: auto;
    }

    .btn-item {
        margin: 0;
    }

    .nav-btn {
        padding: 10px 80px;
        /* width: 100%; */
        margin-left: 0;
    }

    .main {
        width: fit-content;
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem 4rem;
    }

    .main-container {
        display: block;
        padding-right: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .main-container-text {
        /* width: 100%; */
        padding: 0 1rem;
    }

    .main-container-header {
        padding-top: 0;
        margin: 20px 0;
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    .main-text {
        display: block;
        padding-right: 0;
        padding: 0 10px;
        margin: 3px 0 40px;
    }

    .content {
        line-height: 1.8;
    }

    .main-container-button {
        margin: 0 0 60px;
    }

    .btn {
        color: #fff;
        background: #000;
        padding: 12px 1rem;
        transition: background 0.6s, color 0.6s;
    }

    .btn:hover {
        color: #000;
        background: #fff;
    }

    .footer-wrap{
        width: 86%;
        padding: 0px 2rem;
    }
    .main-footer {
        width: 100%;
    }

    .main-footer img {
        width: 3.3rem;
    }

}

@media screen and (max-width: 375px) {
    .hero {
        display: block;
    }

	.side-nav {
		height: 100%;
	}
	
    .hero img {
        width: 100%;
    }

		.page-body {
			width: 100%;
			height: 100%;
			position: relative;
/* 			overflow: hidden; */
		}

    .main {
        padding: 1rem 1rem;
			height: fit-content;
    }
    
    .main-container-text {
        padding: 0 1rem;
    }

    .main-container-header {
        padding: 0;
        margin: 20px 0;
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    .main-text {
        display: block;
        padding-right: 0;
      padding: 0 7px;
    }

    .content {
        line-height: 1.4;
    }

    .btn {
        color: #fff;
        background: #000;
        padding: 12px 1rem;
        transition: background 0.6s, color 0.6s;
    }


}


@media screen and (max-width: 500px) {
    .hero {
        display: block;
    }
	
    .hero img {
        width: 100%;
    }
	.body {
		overflow-y: hidden;
	}
	
	.side-nav {
		height: 100%;
		padding-bottom: 0;
	}

	.side-nav.pop-up {
		height: 100%;
		padding-bottom: 0;
		overflow: hidden;
	}

		.page-body {
			width: 100%;
			height: 100%;
			position: relative;
			overflow-x: hidden;
			box-sizing: border-box;
		}

    .main {
        padding: 1.6rem 0 0;
			margin-top: 8px;
    }
    
    .main-container-text {
        padding: 0 1rem;
    }

    .main-container-header {
        padding: 0;
        margin: 20px 0;
        width: 100%;
    }

    h1 {
        font-size: 2.6em;
    }

    .main-text {
        display: block;
        padding-right: 0;
      padding: 0 7px;
    }

    .content {
        line-height: 1.8;
			font-size: 1em;
    }
	
	.main-footer {
		justify-content: space-between;
		width: 100%;	
	}
	
	.footer-wrap {
		padding: 0 12px;
		display: flex;
	  justify-content: center;
		box-sizing: border-box;
		width : 100%;
	
	}
	
	.footer-logo img {
        width: 5em;
    }


}
